@model ToDoLists.Models.TodoList

@{
    ViewBag.Title = "Delete";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Вы действительно хотите удалить запись?</title>
</head>
<body>
    <div class="container success">
        <hr />
        <h1>Вы действительно хотите удалить запись?</h1>
        <hr />
        <dl class="dl-horizontal">
            <dt style="font-size: 12pt">Название задачи:</dt>
            <dd style="font-size: 12pt">
                @Html.DisplayFor(model => model.Task_name)
            </dd>
         
            <dt style="font-size: 12pt">Срок выполнения:</dt>
            <dd style="font-size: 12pt">
                @Html.DisplayFor(model => model.Target_date)
            </dd>
            
            <dt style="font-size: 12pt">Сложность:</dt>
            <dd style="font-size: 12pt">
                @Html.DisplayFor(model => model.Complexity)
            </dd>
        </dl>
        <hr />
        @using (Html.BeginForm())
        {
            <div>
                <input class="btn btn-primary" type="submit" value="Удалить" /> |
                @Html.ActionLink("На главную", "Index")
            </div>
        }
    </div>
</body>
</html>
