
@{
    ViewBag.Title = "Message";
}

<h2 class="text-center">ToDoList</h2>

<div class="container text-center success">
    <hr />
    <h1>Запись успешно добавлена!</h1>
    <hr />
    @Html.ActionLink("На главную", "Index")
</div>