
@{
    ViewBag.Title = "Message";
}

<h2 class="text-center">ToDoList</h2>

<body>
    <div class="container">
        <h1>Запись успешно добавлена!</h1>
        @Html.ActionLink("На главную", "Index")
    </div>
</body>