@model ToDoLists.Models.TodoList

@{
    ViewBag.Title = "Record";
}

@*<h2>Record</h2>*@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Новая запись</title>
</head>
<body>
    <h2 class="text-center">ToDoList</h2>
    <div>
        @*<h1>Новая запись</h1>*@
        <div class="success">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <p>Название задачи:</p>
                <p>@Html.TextBoxFor(listRecord => listRecord.Task_name, new { @class = "form-control" })</p>
                <p>Срок выполнения:</p>
                <p>@Html.TextBoxFor(listRecord => listRecord.Target_date, new { @class = "form-control" })</p>
                <p>Сложность:</p>
                <p>@Html.TextBoxFor(listRecord => listRecord.Complexity, new { @class = "form-control" })</p>
                <input class="btn btn-primary" type="submit" value="Добавить" />
            }
        </div>
    </div>

</body>
</html>