
@{
    ViewBag.Title = "Index";
}



<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
</head>
<body>
    <div class="container">
        <div>
            @Html.ActionLink("Новая запись", "Record", "Home")
        </div>
    </div>
</body>
</html>